:root {
  --colors-base-white: #ffffff;
  --colors-base-black: #161616;
  --colors-neutral25: #fcfcfd;
  --colors-neutral50: #f9fafb;
  --colors-neutral100: #f3f4f6;
  --colors-neutral200: #e5e7eb;
  --colors-neutral300: #d2d6db;
  --colors-neutral400: #9da4ae;
  --colors-neutral500: #6c727e;
  --colors-neutral600: #4d5761;
  --colors-neutral700: #384250;
  --colors-neutral800: #1f2a37;
  --colors-neutral900: #111927;
  --colors-neutral950: #0c111b;

  --colors-primary-s-a-flag25: #f7fdf9;
  --colors-primary-s-a-flag50: #f3fcf6;
  --colors-primary-s-a-flag100: #dff6e7;
  --colors-primary-s-a-flag200: #b8eacb;
  --colors-primary-s-a-flag300: #88d8ad;
  --colors-primary-s-a-flag400: #54c08a;
  --colors-primary-s-a-flag500: #25935f;
  --colors-primary-s-a-flag600-primary: #1b8354;
  --colors-primary-s-a-flag700: #166a45;
  --colors-primary-s-a-flag800: #14573a;
  --colors-primary-s-a-flag900: #104631;
  --colors-primary-s-a-flag950: #092a1e;

  --colors-red25: #fffbfa;
  --colors-red50: #fef3f2;
  --colors-red100: #fee4e2;
  --colors-red200: #fecdca;
  --colors-red300: #fca19b;
  --colors-red400: #f97066;
  --colors-red500: #f04437;
  --colors-red600: #d92c20;
  --colors-red700: #b42318;
  --colors-red800: #912018;
  --colors-red900: #7a2619;
  --colors-red950: #54150c;

  --colors-yellow25: #fffcf5;
  --colors-yellow50: #fffaeb;
  --colors-yellow100: #fef0c7;
  --colors-yellow200: #fedf89;
  --colors-yellow300: #fec84b;
  --colors-yellow400: #fdb022;
  --colors-yellow500: #f79009;
  --colors-yellow600: #dc6803;
  --colors-yellow700: #b54707;
  --colors-yellow800: #93370c;
  --colors-yellow900: #7a2e0e;
  --colors-yellow950: #4e1d09;

  --colors-green25: #f6fef9;
  --colors-green50: #ecfdf3;
  --colors-green100: #dcfae6;
  --colors-green200: #abefc6;
  --colors-green300: #75dfa6;
  --colors-green400: #47cd89;
  --colors-green500: #17b169;
  --colors-green600: #069454;
  --colors-green700: #067647;
  --colors-green800: #085d3a;
  --colors-green900: #074c30;
  --colors-green950: #053321;

  --colors-blue25: #f5faff;
  --colors-blue50: #eff8ff;
  --colors-blue100: #d1e9ff;
  --colors-blue200: #b2ddff;
  --colors-blue300: #84caff;
  --colors-blue400: #53b0fd;
  --colors-blue500: #2e90fa;
  --colors-blue600: #156fee;
  --colors-blue700: #175cd3;
  --colors-blue800: #1849a9;
  --colors-blue900: #194084;
  --colors-blue950: #102a56;

  --colors-alpha-alpha-white10: #ffffff19;
  --colors-alpha-alpha-white20: #ffffff33;
  --colors-alpha-alpha-white30: #ffffff4c;
  --colors-alpha-alpha-white40: #ffffff66;
  --colors-alpha-alpha-white50: #ffffff7f;
  --colors-alpha-alpha-white60: #ffffff99;
  --colors-alpha-alpha-white70: #ffffffb2;
  --colors-alpha-alpha-white80: #ffffffcc;
  --colors-alpha-alpha-white90: #ffffffe5;
  --colors-alpha-alpha-white100: #ffffff;
  --colors-alpha-alpha-black10: #16161619;
  --colors-alpha-alpha-black20: #16161633;
  --colors-alpha-alpha-black30: #1616164c;
  --colors-alpha-alpha-black40: #16161666;
  --colors-alpha-alpha-black50: #1616167f;
  --colors-alpha-alpha-black60: #16161699;
  --colors-alpha-alpha-black70: #161616b2;
  --colors-alpha-alpha-black80: #161616cc;
  --colors-alpha-alpha-black90: #161616e5;
  --colors-alpha-alpha-black100: #161616;

  --spacing00px: 0;
  --spacing052px: 2;
  --spacing14px: 4;
  --spacing28px: 8;
  --spacing312px: 12;
  --spacing416px: 16;
  --spacing520px: 20;
  --spacing624px: 24;
  --spacing832px: 32;
  --spacing1040px: 40;
  --spacing1248px: 48;
  --spacing1664px: 64;
  --spacing2080px: 80;
  --spacing2496px: 96;
  --spacing32128px: 128;
  --spacing40160px: 160;
  --spacing48192px: 192;
  --spacing56224px: 224;
  --spacing64256px: 256;
  --spacing96384px: 384;
  --spacing80320px: 320;
  --spacing120480px: 480;
  --spacing160640px: 640;
  --spacing192768px: 768;
  --spacing2561024px: 1024;
  --spacing3201280px: 1280;
  --spacing3601440px: 1440;
  --spacing4001600px: 1600;
  --spacing4801920px: 1920;
  --spacing156px: 6;
  --spacing140560px: 560;
  --spacing180720px: 720;

  --colors-secondary-gold25: #fffef7;
  --colors-secondary-gold50: #fffef2;
  --colors-secondary-gold100: #fffce6;
  --colors-secondary-gold200: #fcf3bd;
  --colors-secondary-gold300: #fae996;
  --colors-secondary-gold400: #f7d54d;
  --colors-secondary-gold500: #f5bd02;
  --colors-secondary-gold600-primary: #dba102;
  --colors-secondary-gold700: #b87b02;
  --colors-secondary-gold800: #945c01;
  --colors-secondary-gold900: #6e3c00;
  --colors-secondary-gold950: #472400;

  --colors-tertiary-lavendar25: #fefcff;
  --colors-tertiary-lavendar50: #f9f5fa;
  --colors-tertiary-lavendar100: #f2e9f5;
  --colors-tertiary-lavendar200: #e1cce8;
  --colors-tertiary-lavendar300: #ccadd9;
  --colors-tertiary-lavendar400: #a57bba;
  --colors-tertiary-lavendar500-primary: #80519f;
  --colors-tertiary-lavendar600: #6d428f;
  --colors-tertiary-lavendar700: #532d75;
  --colors-tertiary-lavendar800: #3d1d5e;
  --colors-tertiary-lavendar900: #281047;
  --colors-tertiary-lavendar950: #16072e;

  --colors-alpha-alpha-white0: #ffffff00;
  --colors-alpha-alpha-black0: #16161600;

  --radius-radius0: 0;
  --radius-radius2: 2;
  --radius-radius4: 4;
  --radius-radius8: 8;
  --radius-radius16: 16;
  --radius-radius24: 24;
  --radius-radius9999: 9999;

  --colors-alpha-alpha600-primary100: #1b8354;
  --colors-alpha-alpha600-primary90: #1b8354e5;
  --colors-alpha-alpha600-primary80: #1b8354cc;
  --colors-alpha-alpha600-primary70: #1b8354b2;
  --colors-alpha-alpha600-primary60: #1b835499;
  --colors-alpha-alpha600-primary50: #1b83547f;
  --colors-alpha-alpha600-primary40: #1b835466;
  --colors-alpha-alpha600-primary30: #1b83544c;
  --colors-alpha-alpha600-primary20: #1b835433;
  --colors-alpha-alpha600-primary10: #1b835419;

  --colors-alpha-alpha-yellow10: #dc680319;
  --colors-alpha-alpha-yellow20: #dc680333;

  --colors-alpha-alpha-red10: #d92c2019;
  --colors-alpha-alpha-red20: #d92c2033;

  --colors-alpha-alpha-blue10: #156fee19;
  --colors-alpha-alpha-blue20: #156fee33;

  --colors-alpha-alpha-green10: #06945419;
  --colors-alpha-alpha-green20: #06945433;

  --typography-size-text-size72: 72;
  --typography-size-text-size60: 60;
  --typography-size-text-size48: 48;
  --typography-size-text-size36: 36;
  --typography-size-text-size30: 30;
  --typography-size-text-size24: 24;
  --typography-size-text-size20: 20;
  --typography-size-text-size18: 18;
  --typography-size-text-size16: 16;
  --typography-size-text-size14: 14;
  --typography-size-text-size12: 12;
  --typography-size-text-size10: 10;

  --typography-font-family-font-family-display: IBM Plex Sans Arabic;
  --typography-font-family-font-family-text: IBM Plex Sans Arabic;

  --typography-line-hight-line-hight90: 90;
  --typography-line-hight-line-hight72: 72;
  --typography-line-hight-line-hight60: 60;
  --typography-line-hight-line-hight44: 44;
  --typography-line-hight-line-hight38: 38;
  --typography-line-hight-line-hight32: 32;
  --typography-line-hight-line-hight30: 30;
  --typography-line-hight-line-hight28: 28;
  --typography-line-hight-line-hight24: 24;
  --typography-line-hight-line-hight20: 20;
  --typography-line-hight-line-hight18: 18;
  --typography-line-hight-line-hight14: 14;

  --typography-font-weight-font-weight-bold: Bold;
  --typography-font-weight-font-weight-semibold: Semibold;
  --typography-font-weight-font-weight-medium: Medium;
  --typography-font-weight-font-weight-regular: Regular;

  --typography-paragraph-spacing-paragraph-spacing72: 72;
  --typography-paragraph-spacing-paragraph-spacing60: 60;
  --typography-paragraph-spacing-paragraph-spacing48: 48;
  --typography-paragraph-spacing-paragraph-spacing38: 38;
  --typography-paragraph-spacing-paragraph-spacing30: 30;
  --typography-paragraph-spacing-paragraph-spacing24: 24;
  --typography-paragraph-spacing-paragraph-spacing20: 20;
  --typography-paragraph-spacing-paragraph-spacing18: 18;
  --typography-paragraph-spacing-paragraph-spacing16: 16;
  --typography-paragraph-spacing-paragraph-spacing14: 14;
  --typography-paragraph-spacing-paragraph-spacing12: 12;
  --typography-paragraph-spacing-paragraph-spacing10: 10;

  --typography-font-weight-font-weight-italic: Italic;

  --typography-font-weight-font-weight-medium-italic: Medium Italic;

  --typography-font-weight-font-weight-semibold-italic: Semibold Italic;

  --typography-font-weight-font-weight-bold-italic: Bold Italic;

  --typography-size-text-size56: 56;
  --typography-size-text-size40: 40;
  --typography-size-text-size32: 32;
  --typography-size-text-size8: 8;

  --typography-line-hight-line-hight10: 10;
  --typography-line-hight-line-hight12: 12;
  --typography-line-hight-line-hight16: 16;
  --typography-line-hight-line-hight22: 22;
  --typography-line-hight-line-hight26: 26;
  --typography-line-hight-line-hight64: 64;
  --typography-line-hight-line-hight48: 48;
  --typography-line-hight-line-hight40: 40;
  --typography-line-hight-line-hight56: 56;
  --typography-paragraph-spacing-paragraph-spacing64: 64;
  --typography-paragraph-spacing-paragraph-spacing56: 56;
  --typography-paragraph-spacing-paragraph-spacing40: 40;
  --typography-paragraph-spacing-paragraph-spacing32: 32;
  --typography-paragraph-spacing-paragraph-spacing28: 28;
  --typography-paragraph-spacing-paragraph-spacing36: 36;
  --typography-paragraph-spacing-paragraph-spacing8: 8;
  --typography-paragraph-spacing-paragraph-spacing6: 6;
  --typography-paragraph-spacing-paragraph-spacing46: 46;
}

:root {
  --background-background-white: #ffffff;
  --background-background-neutral50: #f9fafb;
  --text-text-primary: #1b8354;
  --form-field-text-placeholder: #6c727e;
  --button-button-background-primary-pressed: #104631;
  --button-button-background-primary-default: #1b8354;
  --button-button-background-primary-hovered: #166a45;
  --global-border-disabled: #9da4ae;
  --border-border-neutral-primary: #d2d6db;
  --border-border-neutral-secondary: #e5e7eb;
  --border-border-neutral-tertiary: #f3f4f6;
  --border-border-white: #ffffff;
  --border-border-black: #161616;
  --link-link-primary: #1b8354;
  --link-link-primary-hovered: #54c08a;
  --link-link-neutral: #384250;
  --link-link-neutral-hovered: #6c727e;
  --link-link-neutral-pressed: #9da4ae;
  --link-link-neutral-visited: #4d5761;
  --link-link-oncolor: #ffffff;
  --link-link-oncolor-hovered: #ffffffcc;
  --link-link-oncolor-pressed: #ffffff99;
  --link-link-oncolor-visited: #ffffffe5;
  --link-link-oncolor-disabled: #ffffff4c;
  --icon-icon-oncolor: #ffffff;
  --background-background-primary50: #f3fcf6;
  --background-background-primary: #1b8354;
  --background-background-secondary50: #fffef2;
  --background-background-tertiary50: #f9f5fa;
  --background-background-success50: #ecfdf3;
  --background-background-info50: #eff8ff;
  --background-background-warning50: #fffaeb;
  --background-background-error50: #fef3f2;
  --text-text-display: #1f2a37;
  --text-text-primary-paragraph: #384250;
  --text-text-secondary-paragraph: #6c727e;
  --text-text-success: #067647;
  --text-text-info: #175cd3;
  --text-text-warning: #b54707;
  --text-text-error: #b42318;
  --border-border-success: #067647;
  --border-border-info: #175cd3;
  --border-border-warning: #b54707;
  --border-border-error: #b42318;
  --border-border-background-white: #f3f4f6;
  --border-border-background-neutral: #d2d6db;
  --border-border-primary-light: #b8eacb;
  --link-link-primary-pressed: #88d8ad;
  --link-link-primary-visited: #14573a;
  --background-background-black: #161616;
  --icon-icon-default: #161616;
  --icon-icon-primary-light: #f3fcf6;
  --icon-icon-primary: #1b8354;
  --icon-icon-secondary-light: #fffef2;
  --icon-icon-tertiary-light: #f9f5fa;
  --icon-icon-neutral-light: #f9fafb;
  --icon-icon-neutral: #384250;
  --text-text-oncolor-primary: #ffffff;
  --text-text-default: #161616;
  --form-field-text-focused: #384250;
  --form-field-text-filled: #161616;
  --form-field-text-helper: #6c727e;
  --form-field-text-label: #161616;
  --alpha-alpha-white10: #ffffff19;
  --alpha-alpha-white20: #ffffff33;
  --alpha-alpha-white30: #ffffff4c;
  --alpha-alpha-white40: #ffffff66;
  --alpha-alpha-white50: #ffffff7f;
  --alpha-alpha-white60: #ffffff99;
  --alpha-alpha-white70: #ffffffb2;
  --alpha-alpha-white80: #ffffffcc;
  --alpha-alpha-white90: #ffffffe5;
  --alpha-alpha-white100: #ffffff;
  --alpha-alpha-black10: #16161619;
  --alpha-alpha-black20: #16161633;
  --alpha-alpha-black30: #1616164c;
  --alpha-alpha-black40: #16161666;
  --alpha-alpha-black50: #1616167f;
  --alpha-alpha-black60: #16161699;
  --alpha-alpha-black70: #161616b2;
  --alpha-alpha-black80: #161616cc;
  --alpha-alpha-black90: #161616e5;
  --alpha-alpha-black100: #161616;
  --form-text-form-title: #161616;
  --form-text-form-paragraph: #6c727e;
  --button-button-background-primary-selected: #14573a;
  --button-button-background-primary-focused: #1b8354;
  --button-button-background-danger-primary-default: #d92c20;
  --button-button-background-danger-primary-hovered: #b42318;
  --button-button-background-danger-primary-pressed: #7a2619;
  --button-button-background-danger-primary-selected: #912018;
  --button-button-background-danger-primary-focused: #d92c20;
  --link-link-danger: #d92c20;
  --link-link-danger-hovered: #b42318;
  --link-link-danger-pressed: #7a2619;
  --link-link-danger-visited: #912018;
  --button-button-background-neutral-default: #f3f4f6;
  --button-button-background-neutral-hovered: #f3f4f6;
  --button-button-background-neutral-pressed: #e5e7eb;
  --button-button-background-neutral-selected: #e5e7eb;
  --button-button-background-neutral-focused: #f3f4f6;
  --border-border-primary: #1b8354;
  --icon-icon-success-light: #ecfdf3;
  --icon-icon-success: #067647;
  --icon-icon-info-light: #eff8ff;
  --icon-icon-info: #175cd3;
  --icon-icon-warning-light: #fffaeb;
  --icon-icon-warning: #b54707;
  --icon-icon-error-light: #fef3f2;
  --icon-icon-error: #b42318;
  --background-background-success: #069454;
  --background-background-info: #156fee;
  --background-background-warning: #dc6803;
  --background-background-error: #d92c20;
  --background-background-neutral400: #9da4ae;
  --background-background-neutral100: #f3f4f6;
  --border-border-success-light: #abefc6;
  --border-border-info-light: #b2ddff;
  --border-border-warning-light: #fedf89;
  --border-border-error-light: #fecdca;
  --background-background-s-a-flag: #074c30;
  --background-background-s-a-flag50: #ecfdf3;
  --button-button-background-black-default: #0c111b;
  --button-button-background-black-hovered: #1f2a37;
  --button-button-background-black-pressed: #4d5761;
  --button-button-background-black-selected: #384250;
  --button-button-background-black-focused: #0c111b;
  --global-icon-default-disabled: #9da4ae;
  --global-icon-default-oncolor-disabled: #ffffff66;
  --global-text-default-disabled: #9da4ae;
  --button-button-background-danger-secondary-default: #fef3f2;
  --button-button-background-danger-secondary-hovered: #fee4e2;
  --button-button-background-danger-secondary-pressed: #fecdca;
  --button-button-background-danger-secondary-selected: #fef3f2;
  --button-button-background-danger-secondary-focused: #fef3f2;
  --global-text-default-oncolor-disabled: #ffffff66;
  --button-button-background-disabled-on-color: #ffffff33;
  --button-button-background-oncolor-default: #ffffff;
  --button-button-background-oncolor-hovered: #ffffffcc;
  --button-button-background-oncolor-pressed: #ffffff99;
  --button-button-background-oncolor-selected: #ffffffb2;
  --button-button-background-oncolor-focused: #ffffff;
  --button-button-background-transparent-default: #ffffff00;
  --button-button-background-transparent-hovered: #ffffff33;
  --button-button-background-transparent-pressed: #ffffff66;
  --button-button-background-transparent-selected: #ffffff4c;
  --button-button-background-transparent-focused: #ffffff00;
  --alpha-alpha-white0: #ffffff00;
  --alpha-alpha-black0: #16161600;
  --border-border-white40: #ffffff66;
  --controls-control-primary: #ffffff00;
  --controls-control-primary-hovered: #14573a;
  --controls-control-primary-pressed: #104631;
  --controls-control-primary-focused: #1b8354;
  --controls-control-primary-readonly: #ffffff00;
  --background-background-neutral800: #1f2a37;
  --controls-control-primary-checked: #1b8354;
  --controls-control-border: #6c727e;
  --controls-control-neutral-checked: #0c111b;
  --controls-control-neutral-hovered: #4d5761;
  --controls-control-neutral-pressed: #6c727e;
  --controls-control-neutral-focused: #0c111b;
  --controls-control-pressed: #d2d6db;
  --controls-control-ripple-effect: #f3f4f6;
  --link-link-primary-focused: #1b8354;
  --link-link-neutral-focused: #384250;
  --link-link-danger-focused: #d92c20;
  --link-link-oncolor-focused: #ffffff;
  --icon-icon-default400: #9da4ae;
  --background-background-neutral300: #d2d6db;
  --background-background-neutral200: #e5e7eb;
  --background-background-neutral25: #fcfcfd;
  --global-background-disabled: #e5e7eb;
  --icon-icon-default500: #6c727e;
  --form-field-background-default: #ffffff;
  --form-field-background-lighter: #fcfcfd;
  --form-field-background-darker: #f3f4f6;
  --form-field-background-pressed: #f3f4f6;
  --form-field-border-default: #9da4ae;
  --form-field-border-hovered: #384250;
  --form-field-border-pressed: #0c111b;
  --form-field-border-error: #b42318;
  --form-field-text-readonly: #161616;
  --form-field-text-hovered: #161616;
  --form-field-text-pressed: #384250;
  --background-background-body: #f9fafb;
  --table-table-cell-border: #d2d6db;
  --table-table-cell-border-inverse: #161616;
  --table-table-text-head: #384250;
  --table-table-text-body: #161616;
  --table-table-background-disabled: #e5e7eb;
  --table-table-background-hover-selected: #f9fafb;
  --stepper-stepper-button-completed: #1b8354;
  --stepper-stepper-button-completed-hovered: #166a45;
  --stepper-stepper-button-current: #1b8354;
  --stepper-stepper-button-current-hovered: #166a45;
  --stepper-stepper-button-upcomming: #d2d6db;
  --stepper-stepper-button-upcomming-hovered: #9da4ae;
  --stepper-stepper-button-background: #ffffff;
  --stepper-stepper-text-primary: #1f2a37;
  --stepper-stepper-text-secondary: #384250;
  --stepper-stepper-text-tertiary: #6c727e;
  --stepper-stepper-line-completed: #1b8354;
  --stepper-stepper-line-completed-hovered: #166a45;
  --stepper-stepper-line-upcomming: #d2d6db;
  --stepper-stepper-line-upcomming-hovered: #9da4ae;
  --stepper-stepper-line-current: #d2d6db;
  --table-table-background-header: #f3f4f6;
  --table-table-background-row: #f9fafb;
  --background-background-primary25: #f7fdf9;
  --background-background-secondary25: #fffef7;
  --background-background-tertiary25: #fefcff;
  --background-background-success25: #f6fef9;
  --background-background-info25: #f5faff;
  --background-background-warning25: #fffcf5;
  --background-background-error25: #fffbfa;
  --background-background-s-a-flag25: #f6fef9;
  --background-background-menu: #ffffff;
  --tag-tag-background-neutral: #4d5761;
  --tag-tag-background-neutral-light: #f9fafb;
  --tag-tag-background-success: #067647;
  --tag-tag-background-success-light: #ecfdf3;
  --tag-tag-background-info: #156fee;
  --tag-tag-background-info-light: #eff8ff;
  --tag-tag-background-warning: #b54707;
  --tag-tag-background-warning-light: #fffaeb;
  --tag-tag-background-error: #d92c20;
  --tag-tag-background-error-light: #fef3f2;
  --tag-tag-dot: #ffffff99;
  --tag-tag-border-success: #067647;
  --tag-tag-border-success-light: #abefc6;
  --tag-tag-border-info: #175cd3;
  --tag-tag-border-info-light: #b2ddff;
  --tag-tag-border-warning: #b54707;
  --tag-tag-border-warning-light: #fedf89;
  --tag-tag-border-error: #b42318;
  --tag-tag-border-error-light: #fecdca;
  --tag-tag-border-neutral: #4d5761;
  --tag-tag-border-neutral-light: #f9fafb;
  --tag-tag-background-on-color: #ffffff33;
  --tag-tag-border-on-color: #ffffff99;
  --tag-tag-text-success: #085d3a;
  --tag-tag-text-info: #1849a9;
  --tag-tag-text-warning: #93370c;
  --tag-tag-text-error: #912018;
  --tag-tag-icon-success: #085d3a;
  --tag-tag-icon-info: #1849a9;
  --tag-tag-icon-warning: #93370c;
  --tag-tag-icon-error: #912018;
  --tag-tag-text-neutral: #1f2a37;
  --tag-tag-icon-neutral: #1f2a37;
  --global-background-inverse-disabled: #f3f4f6;
  --border-border-transparent10: #ffffff19;
  --text-text-primary-light: #88d8ad;
  --form-option-background-hover: #f3f4f6;
  --form-option-background-pressed: #e5e7eb;
  --global-background-disabled-primary: #b8eacb;
  --form-datecell-background-default: #1b8354;
  --form-datecell-background-hovered: #166a45;
  --form-datecell-background-pressed: #104631;
  --form-datecell-background-focused: #1b8354;
  --form-datecell-today-background-default: #ffffff00;
  --form-datecell-today-background-hovered: #e5e7eb;
  --form-datecell-today-background-pressed: #d2d6db;
  --form-datecell-today-background-focused: #ffffff00;
  --form-datecell-background300: #88d8ad;
  --form-datecell-background600: #1b8354;
  --form-datecell-background100: #dff6e7;
  --text-text-primary-sa-flag: #14573a;
  --form-datecell-background200: #b8eacb;
  --background-background-card: #ffffff;
  --background-surface-oncolor: #ffffff;
  --tooltip-tooltip-background-light: #ffffff;
  --tooltip-tooltip-background-dark: #1f2a37;
  --tooltip-tooltip-text-heading-light: #1f2a37;
  --tooltip-tooltip-text-heading-dark: #f9fafb;
  --tooltip-tooltip-text-paragraph-light: #384250;
  --tooltip-tooltip-text-paragraph-dark: #f3f4f6;
  --background-background-primary400: #54c08a;
  --icon-icon-primary400: #54c08a;
  --border-border-oncolor-transparent30: #ffffff4c;
  --text-text-oncolor-secondary: #ffffffcc;
  --text-text-oncolor-tertiary: #ffffffb2;
  --global-control-disabled: #9da4ae;
  --button-button-label-transparent-hovered-on-color: #54c08a;
  --button-button-label-transparent-pressed-on-color: #88d8ad;
  --button-button-label-transparent-selected-on-color: #54c08a;
  --button-button-icon-transparent-hovered-on-color: #54c08a;
  --button-button-icon-transparent-pressed-on-color: #88d8ad;
  --button-button-icon-transparent-selected-on-color: #54c08a;
  --link-link-icon-primary-hovered: #54c08a;
  --link-link-icon-primary-pressed: #88d8ad;
  --link-link-icon-primary-focused: #1b8354;
  --link-link-icon-primary-visited: #14573a;
  --background-background-notification-white: #ffffff;
  --background-background-primary200: #b8eacb;
  --link-link-icon-oncolor-hovered: #ffffffcc;
  --link-link-icon-oncolor-pressed: #ffffff99;
  --link-link-link-oncolor-focused: #ffffff;
  --link-link-icon-oncolor-visited: #ffffffe5;
  --link-link-icon-oncolor-disabled: #ffffff4c;
  --link-link-icon-neutral-hovered: #6c727e;
  --link-link-icon-neutral-pressed: #9da4ae;
  --link-link-icon-neutral-focused: #384250;
  --link-link-icon-neutral-visited: #4d5761;
  --link-link-icon-danger-hovered: #b42318;
  --link-link-icon-danger-pressed: #7a2619;
  --link-link-icon-danger-focused: #d92c20;
  --link-link-icon-danger-visited: #912018;
  --icon-background-warning-light: #fffaeb;
  --icon-background-error-light: #fef3f2;
  --alpha-alpha-primary10: #1b835419;
  --controls-control-icon-pressed: #ffffff;
  --controls-control-icon-hovered: #ffffff;
  --controls-control-icon-disabled: #ffffff;
  --button-button-label-danger-primary-default-oncolor: #fecdca;
  --button-button-label-danger-primary-hovered-oncolor: #fca19b;
  --button-button-label-danger-primary-pressed-oncolor: #f97066;
  --form-datecell-background-disabled: #ffffff;
  --alpha-alpha-primary20: #1b835433;
  --alpha-alpha-warning10: #dc680319;
  --alpha-alpha-warning20: #dc680333;
  --icon-background-brand-light: #f3fcf6;
  --alpha-alpha-error10: #d92c2019;
  --alpha-alpha-error20: #d92c2033;
  --alpha-alpha-info10: #156fee19;
  --alpha-alpha-info20: #156fee33;
  --icon-background-info-light: #eff8ff;
  --icon-background-success-light: #ecfdf3;
  --alpha-alpha-success10: #06945419;
  --alpha-alpha-success20: #06945433;
  --form-textarea-scrollbar-bar: #d2d6db;
  --controls-control-boarder-disabled: #9da4ae;
  --controls-control-disabled: #d2d6db;
  --border-border-disabled: #d2d6db;
  --icon-unselected-tab-icon: #384250;
  --table-table-background-row-selected-hovered: #f3fcf6;
  --table-table-boarder-row-selected-hovered: #f3f4f6;
  --table-table-background-row-select: #f3fcf6;
  --table-table-background-row-hovered: #f3f4f6;
  --table-table-background-row-alt: #f9fafb;
  --background-background-nav-header: #14573a;
  --chip-chip-background-neutral-default: #f3f4f6;
  --chip-chip-background-neutral-focused: #f3f4f6;
  --chip-chip-background-primary-focused: #dff6e7;
  --chip-chip-background-on-color-default: #ffffff;
  --chip-chip-background-neutral-hovered: #e5e7eb;
  --chip-chip-background-neutral-selected: #384250;
  --chip-chip-background-on-color-hovered: #ffffffcc;
  --chip-chip-background-on-color-pressed: #ffffff99;
  --chip-chip-background-on-color-selected: #ffffffb2;
  --chip-chip-background-on-color-focused: #ffffff;
  --chip-chip-background-on-color-diabled: #ffffff33;
  --charts-charts-blue: #53b0fd;
  --charts-charts-lavendar: #80519f;
  --charts-charts-green: #88d8ad;
  --charts-charts-gold: #f7d54d;
  --charts-charts-red: #f97066;
  --charts-charts-yellow: #fdb022;
  --charts-charts-green-primary200: #b8eacb;
  --progress-bar-progress-bar-neutral: #384250;
  --icon-icon-warning-ring: #fef0c7;
  --icon-icon-error-ring: #fee4e2;
  --icon-icon-info-ring: #d1e9ff;
  --icon-icon-success-ring: #dff6e7;
  --icon-icon-neutral-ring: #f3f4f6;
}

.dark {
  --background-background-white: #0c111b;
  --background-background-neutral50: #111927;
  --text-text-primary: #54c08a;
  --form-field-text-placeholder: #6c727e;
  --button-button-background-primary-pressed: #104631;
  --button-button-background-primary-default: #1b8354;
  --button-button-background-primary-hovered: #166a45;
  --global-border-disabled: #9da4ae;
  --border-border-neutral-primary: #6c727e;
  --border-border-neutral-secondary: #384250;
  --border-border-neutral-tertiary: #1f2a37;
  --border-border-white: #161616;
  --border-border-black: #ffffff;
  --link-link-primary: #1b8354;
  --link-link-primary-hovered: #54c08a;
  --link-link-neutral: #e5e7eb;
  --link-link-neutral-hovered: #9da4ae;
  --link-link-neutral-pressed: #6c727e;
  --link-link-neutral-visited: #d2d6db;
  --link-link-oncolor: #ffffff;
  --link-link-oncolor-hovered: #ffffffcc;
  --link-link-oncolor-pressed: #ffffff99;
  --link-link-oncolor-visited: #ffffffe5;
  --link-link-oncolor-disabled: #ffffff4c;
  --icon-icon-oncolor: #ffffff;
  --background-background-primary50: #1b835419;
  --background-background-primary: #1b8354;
  --background-background-secondary50: #1f2a37;
  --background-background-tertiary50: #1f2a37;
  --background-background-success50: #06945433;
  --background-background-info50: #156fee33;
  --background-background-warning50: #dc680333;
  --background-background-error50: #d92c2033;
  --text-text-display: #f9fafb;
  --text-text-primary-paragraph: #f3f4f6;
  --text-text-secondary-paragraph: #e5e7eb;
  --text-text-success: #47cd89;
  --text-text-info: #53b0fd;
  --text-text-warning: #fdb022;
  --text-text-error: #f97066;
  --border-border-success: #17b169;
  --border-border-info: #175cd3;
  --border-border-warning: #b54707;
  --border-border-error: #b42318;
  --border-border-background-white: #4d5761;
  --border-border-background-neutral: #4d5761;
  --border-border-primary-light: #abefc6;
  --link-link-primary-pressed: #88d8ad;
  --link-link-primary-visited: #14573a;
  --background-background-black: #ffffff;
  --icon-icon-default: #ffffff;
  --icon-icon-primary-light: #f3fcf6;
  --icon-icon-primary: #54c08a;
  --icon-icon-secondary-light: #fffef2;
  --icon-icon-tertiary-light: #f9f5fa;
  --icon-icon-neutral-light: #0c111b;
  --icon-icon-neutral: #9da4ae;
  --text-text-oncolor-primary: #ffffff;
  --text-text-default: #ffffff;
  --form-field-text-focused: #384250;
  --form-field-text-filled: #161616;
  --form-field-text-helper: #6c727e;
  --form-field-text-label: #161616;
  --alpha-alpha-white10: #16161619;
  --alpha-alpha-white20: #16161633;
  --alpha-alpha-white30: #1616164c;
  --alpha-alpha-white40: #16161666;
  --alpha-alpha-white50: #1616167f;
  --alpha-alpha-white60: #16161699;
  --alpha-alpha-white70: #161616b2;
  --alpha-alpha-white80: #161616cc;
  --alpha-alpha-white90: #161616e5;
  --alpha-alpha-white100: #161616;
  --alpha-alpha-black10: #ffffff19;
  --alpha-alpha-black20: #ffffff33;
  --alpha-alpha-black30: #ffffff4c;
  --alpha-alpha-black40: #ffffff66;
  --alpha-alpha-black50: #ffffff7f;
  --alpha-alpha-black60: #ffffff99;
  --alpha-alpha-black70: #ffffffb2;
  --alpha-alpha-black80: #ffffffcc;
  --alpha-alpha-black90: #ffffffe5;
  --alpha-alpha-black100: #ffffff;
  --form-text-form-title: #161616;
  --form-text-form-paragraph: #6c727e;
  --button-button-background-primary-selected: #14573a;
  --button-button-background-primary-focused: #1b8354;
  --button-button-background-danger-primary-default: #d92c20;
  --button-button-background-danger-primary-hovered: #b42318;
  --button-button-background-danger-primary-pressed: #7a2619;
  --button-button-background-danger-primary-selected: #912018;
  --button-button-background-danger-primary-focused: #d92c20;
  --link-link-danger: #d92c20;
  --link-link-danger-hovered: #b42318;
  --link-link-danger-pressed: #7a2619;
  --link-link-danger-visited: #912018;
  --button-button-background-neutral-default: #1f2a37;
  --button-button-background-neutral-hovered: #384250;
  --button-button-background-neutral-pressed: #4d5761;
  --button-button-background-neutral-selected: #384250;
  --button-button-background-neutral-focused: #1f2a37;
  --border-border-primary: #88d8ad;
  --icon-icon-success-light: #ecfdf3;
  --icon-icon-success: #47cd89;
  --icon-icon-info-light: #eff8ff;
  --icon-icon-info: #53b0fd;
  --icon-icon-warning-light: #fffaeb;
  --icon-icon-warning: #fdb022;
  --icon-icon-error-light: #fef3f2;
  --icon-icon-error: #f97066;
  --background-background-success: #069454;
  --background-background-info: #156fee;
  --background-background-warning: #dc6803;
  --background-background-error: #d92c20;
  --background-background-neutral400: #9da4ae;
  --background-background-neutral100: #1f2a37;
  --border-border-success-light: #abefc6;
  --border-border-info-light: #b2ddff;
  --border-border-warning-light: #fedf89;
  --border-border-error-light: #fecdca;
  --background-background-s-a-flag: #1b8354;
  --background-background-s-a-flag50: #1f2a37;
  --button-button-background-black-default: #0c111b;
  --button-button-background-black-hovered: #1f2a37;
  --button-button-background-black-pressed: #4d5761;
  --button-button-background-black-selected: #384250;
  --button-button-background-black-focused: #0c111b;
  --global-icon-default-disabled: #ffffff;
  --global-icon-default-oncolor-disabled: #ffffff;
  --global-text-default-disabled: #9da4ae;
  --button-button-background-danger-secondary-default: #fef3f2;
  --button-button-background-danger-secondary-hovered: #fee4e2;
  --button-button-background-danger-secondary-pressed: #fecdca;
  --button-button-background-danger-secondary-selected: #fef3f2;
  --button-button-background-danger-secondary-focused: #fef3f2;
  --global-text-default-oncolor-disabled: #16161666;
  --button-button-background-disabled-on-color: #ffffff33;
  --button-button-background-oncolor-default: #161616;
  --button-button-background-oncolor-hovered: #ffffffcc;
  --button-button-background-oncolor-pressed: #ffffff99;
  --button-button-background-oncolor-selected: #ffffffb2;
  --button-button-background-oncolor-focused: #ffffff;
  --button-button-background-transparent-default: #ffffff00;
  --button-button-background-transparent-hovered: #ffffff33;
  --button-button-background-transparent-pressed: #ffffff66;
  --button-button-background-transparent-selected: #ffffff4c;
  --button-button-background-transparent-focused: #ffffff00;
  --alpha-alpha-white0: #16161619;
  --alpha-alpha-black0: #ffffff19;
  --border-border-white40: #ffffff66;
  --controls-control-primary: #ffffff00;
  --controls-control-primary-hovered: #88d8ad;
  --controls-control-primary-pressed: #54c08a;
  --controls-control-primary-focused: #1b8354;
  --controls-control-primary-readonly: #ffffff00;
  --background-background-neutral800: #4d5761;
  --controls-control-primary-checked: #1b8354;
  --controls-control-border: #9da4ae;
  --controls-control-neutral-checked: #4d5761;
  --controls-control-neutral-hovered: #9da4ae;
  --controls-control-neutral-pressed: #9da4ae;
  --controls-control-neutral-focused: #4d5761;
  --controls-control-pressed: #4d5761;
  --controls-control-ripple-effect: #111927;
  --link-link-primary-focused: #1b8354;
  --link-link-neutral-focused: #e5e7eb;
  --link-link-danger-focused: #d92c20;
  --link-link-oncolor-focused: #ffffff;
  --icon-icon-default400: #6c727e;
  --background-background-neutral300: #6c727e;
  --background-background-neutral200: #4d5761;
  --background-background-neutral25: #0c111b;
  --global-background-disabled: #384250;
  --icon-icon-default500: #e5e7eb;
  --form-field-background-default: #1f2a37;
  --form-field-background-lighter: #4d5761;
  --form-field-background-darker: #1f2a37;
  --form-field-background-pressed: #4d5761;
  --form-field-border-default: #6c727e;
  --form-field-border-hovered: #e5e7eb;
  --form-field-border-pressed: #fcfcfd;
  --form-field-border-error: #b42318;
  --form-field-text-readonly: #161616;
  --form-field-text-hovered: #161616;
  --form-field-text-pressed: #384250;
  --background-background-body: #111927;
  --table-table-cell-border: #4d5761;
  --table-table-cell-border-inverse: #161616;
  --table-table-text-head: #d2d6db;
  --table-table-text-body: #161616;
  --table-table-background-disabled: #e5e7eb;
  --table-table-background-hover-selected: #111927;
  --stepper-stepper-button-completed: #069454;
  --stepper-stepper-button-completed-hovered: #166a45;
  --stepper-stepper-button-current: #069454;
  --stepper-stepper-button-current-hovered: #166a45;
  --stepper-stepper-button-upcomming: #4d5761;
  --stepper-stepper-button-upcomming-hovered: #4d5761;
  --stepper-stepper-button-background: #ffffff;
  --stepper-stepper-text-primary: #161616;
  --stepper-stepper-text-secondary: #384250;
  --stepper-stepper-text-tertiary: #6c727e;
  --stepper-stepper-line-completed: #1b8354;
  --stepper-stepper-line-completed-hovered: #166a45;
  --stepper-stepper-line-upcomming: #384250;
  --stepper-stepper-line-upcomming-hovered: #384250;
  --stepper-stepper-line-current: #384250;
  --table-table-background-header: #111927;
  --table-table-background-row: #111927;
  --background-background-primary25: #092a1e;
  --background-background-secondary25: #111927;
  --background-background-tertiary25: #111927;
  --background-background-success25: #06945419;
  --background-background-info25: #156fee19;
  --background-background-warning25: #dc680319;
  --background-background-error25: #d92c2019;
  --background-background-s-a-flag25: #111927;
  --background-background-menu: #1f2a37;
  --tag-tag-background-neutral: #4d5761;
  --tag-tag-background-neutral-light: #1f2a37;
  --tag-tag-background-success: #067647;
  --tag-tag-background-success-light: #06945419;
  --tag-tag-background-info: #156fee;
  --tag-tag-background-info-light: #156fee19;
  --tag-tag-background-warning: #b54707;
  --tag-tag-background-warning-light: #dc680319;
  --tag-tag-background-error: #d92c20;
  --tag-tag-background-error-light: #d92c2019;
  --tag-tag-dot: #ffffff99;
  --tag-tag-border-success: #75dfa6;
  --tag-tag-border-success-light: #abefc6;
  --tag-tag-border-info: #84caff;
  --tag-tag-border-info-light: #b2ddff;
  --tag-tag-border-warning: #fec84b;
  --tag-tag-border-warning-light: #fedf89;
  --tag-tag-border-error: #fca19b;
  --tag-tag-border-error-light: #fecdca;
  --tag-tag-border-neutral: #d2d6db;
  --tag-tag-border-neutral-light: #1f2a37;
  --tag-tag-background-on-color: #ffffff33;
  --tag-tag-border-on-color: #ffffff99;
  --tag-tag-text-success: #47cd89;
  --tag-tag-text-info: #53b0fd;
  --tag-tag-text-warning: #fdb022;
  --tag-tag-text-error: #f97066;
  --tag-tag-icon-success: #47cd89;
  --tag-tag-icon-info: #53b0fd;
  --tag-tag-icon-warning: #fdb022;
  --tag-tag-icon-error: #f97066;
  --tag-tag-text-neutral: #f3f4f6;
  --tag-tag-icon-neutral: #f3f4f6;
  --global-background-inverse-disabled: #384250;
  --border-border-transparent10: #ffffff19;
  --text-text-primary-light: #54c08a;
  --form-option-background-hover: #6c727e;
  --form-option-background-pressed: #384250;
  --global-background-disabled-primary: #166a45;
  --form-datecell-background-default: #1b8354;
  --form-datecell-background-hovered: #166a45;
  --form-datecell-background-pressed: #104631;
  --form-datecell-background-focused: #1b8354;
  --form-datecell-today-background-default: #ffffff00;
  --form-datecell-today-background-hovered: #384250;
  --form-datecell-today-background-pressed: #4d5761;
  --form-datecell-today-background-focused: #ffffff00;
  --form-datecell-background300: #88d8ad;
  --form-datecell-background600: #1b8354;
  --form-datecell-background100: #88d8ad;
  --text-text-primary-sa-flag: #dff6e7;
  --form-datecell-background200: #54c08a;
  --background-background-card: #1f2a37;
  --background-surface-oncolor: #ffffff;
  --tooltip-tooltip-background-light: #1f2a37;
  --tooltip-tooltip-background-dark: #ffffff;
  --tooltip-tooltip-text-heading-light: #1f2a37;
  --tooltip-tooltip-text-heading-dark: #1f2a37;
  --tooltip-tooltip-text-paragraph-light: #384250;
  --tooltip-tooltip-text-paragraph-dark: #384250;
  --background-background-primary400: #54c08a;
  --icon-icon-primary400: #b8eacb;
  --border-border-oncolor-transparent30: #ffffff4c;
  --text-text-oncolor-secondary: #ffffffcc;
  --text-text-oncolor-tertiary: #ffffffb2;
  --global-control-disabled: #ffffff4c;
  --button-button-label-transparent-hovered-on-color: #54c08a;
  --button-button-label-transparent-pressed-on-color: #88d8ad;
  --button-button-label-transparent-selected-on-color: #54c08a;
  --button-button-icon-transparent-hovered-on-color: #54c08a;
  --button-button-icon-transparent-pressed-on-color: #88d8ad;
  --button-button-icon-transparent-selected-on-color: #54c08a;
  --link-link-icon-primary-hovered: #54c08a;
  --link-link-icon-primary-pressed: #88d8ad;
  --link-link-icon-primary-focused: #1b8354;
  --link-link-icon-primary-visited: #14573a;
  --background-background-notification-white: #111927;
  --background-background-primary200: #384250;
  --link-link-icon-oncolor-hovered: #ffffffcc;
  --link-link-icon-oncolor-pressed: #ffffff99;
  --link-link-link-oncolor-focused: #ffffff;
  --link-link-icon-oncolor-visited: #ffffffe5;
  --link-link-icon-oncolor-disabled: #ffffff4c;
  --link-link-icon-neutral-hovered: #9da4ae;
  --link-link-icon-neutral-pressed: #6c727e;
  --link-link-icon-neutral-focused: #e5e7eb;
  --link-link-icon-neutral-visited: #d2d6db;
  --link-link-icon-danger-hovered: #b42318;
  --link-link-icon-danger-pressed: #7a2619;
  --link-link-icon-danger-focused: #d92c20;
  --link-link-icon-danger-visited: #912018;
  --icon-background-warning-light: #dc680319;
  --icon-background-error-light: #d92c2019;
  --alpha-alpha-primary10: #166a4519;
  --controls-control-icon-pressed: #14573a;
  --controls-control-icon-hovered: #14573a;
  --controls-control-icon-disabled: #9da4ae;
  --button-button-label-danger-primary-default-oncolor: #fecdca;
  --button-button-label-danger-primary-hovered-oncolor: #fca19b;
  --button-button-label-danger-primary-pressed-oncolor: #f97066;
  --form-datecell-background-disabled: #ffffff;
  --alpha-alpha-primary20: #166a4533;
  --alpha-alpha-warning10: #b5470819;
  --alpha-alpha-warning20: #b5470833;
  --icon-background-brand-light: #1b835419;
  --alpha-alpha-error10: #b4231819;
  --alpha-alpha-error20: #b4231833;
  --alpha-alpha-info10: #175cd319;
  --alpha-alpha-info20: #175cd333;
  --icon-background-info-light: #156fee19;
  --icon-background-success-light: #06945419;
  --alpha-alpha-success10: #06764719;
  --alpha-alpha-success20: #06764733;
  --form-textarea-scrollbar-bar: #4d5761;
  --controls-control-boarder-disabled: #1616164c;
  --controls-control-disabled: #d2d6db;
  --border-border-disabled: #6c727e;
  --icon-unselected-tab-icon: #f3f4f6;
  --table-table-background-row-selected-hovered: #f3fcf6;
  --table-table-boarder-row-selected-hovered: #f3f4f6;
  --table-table-background-row-select: #f3fcf6;
  --table-table-background-row-hovered: #f3f4f6;
  --table-table-background-row-alt: #ffffff;
  --background-background-nav-header: #14573a;
  --chip-chip-background-neutral-default: #1f2a37;
  --chip-chip-background-neutral-focused: #1f2a37;
  --chip-chip-background-primary-focused: #88d8ad;
  --chip-chip-background-on-color-default: #161616;
  --chip-chip-background-neutral-hovered: #4d5761;
  --chip-chip-background-neutral-selected: #384250;
  --chip-chip-background-on-color-hovered: #ffffffcc;
  --chip-chip-background-on-color-pressed: #ffffff99;
  --chip-chip-background-on-color-selected: #ffffffb2;
  --chip-chip-background-on-color-focused: #ffffff;
  --chip-chip-background-on-color-diabled: #ffffff33;
  --charts-charts-blue: #53b0fd;
  --charts-charts-lavendar: #80519f;
  --charts-charts-green: #88d8ad;
  --charts-charts-gold: #f7d54d;
  --charts-charts-red: #f97066;
  --charts-charts-yellow: #fdb022;
  --charts-charts-green-primary200: #b8eacb;
  --progress-bar-progress-bar-neutral: #384250;
  --icon-icon-warning-ring: #dc680319;
  --icon-icon-error-ring: #d92c2019;
  --icon-icon-info-ring: #156fee19;
  --icon-icon-success-ring: #06945419;
  --icon-icon-neutral-ring: #111927;
}
